#auth-login, #auth-register {
    overflow: hidden;
}

.divider {
    display: inline-block;
    border-bottom: gray 1px solid;
    width: 40%;
    margin: 1%;
}

.active, .active .fe {
    font-weight: 700;
}

#myTabContent {
    width: 100%;
}

.dataTables_filter {
    float: right!important;
}

body {
    height: 100vh!important;
}

#awbno {
    width: 30%;
}

@media (max-width: 500px) {
    #awbno {
        width: 100%;
    }
}

#cancelShipmentModal .modal-footer {
    justify-content: center;
}

.card.pending {
    border-top: 4px solid #eea303;
}

.card.approved {
    border-top: 4px solid #28a745;
}

.card.rejected {
    border-top: 4px solid #dc3545;
}


/* Validation Error Message */
p.error, label.error {
    width: 100%;
    margin: 0;
    font-size: 12px;
    color: #dc3545;
}

.toast {
    position: absolute;
    z-index: 999;
    right: 2%;
}

.toast-header {
    border: 0;
}

.toast.success {
    background-color: #d8f6ec;
    color: #1e6d53;
}

.toast-header.success {
    background-color: #d8f6ec;
}

.toast.danger {
    background-color: #f8d7da;
    color: #721c24;
}

.toast-header.danger {
    background-color: #f8d7da;
}

.select2.select2-container {
    width: auto!important;
}


.blur {
    font-size: 40px;
    filter: blur(3.5px);
    -webkit-filter: blur(3.5px);
}

.guest-link {
    font-weight: 700;
    color: grey;
}

a.guest-link {
    text-decoration: none;
}
