@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
/* html, body {
    overflow-x: hidden!important;
} */

section {
    padding: 6rem 0;
}

#app {
    overflow-x: hidden!important;
}

.divider {
    display: inline-block;
    border-bottom: gray 1px solid;
    width: 40%;
    margin: 1.2%;
}

.btn-google-plus {
    font-family: 'Roboto', sans-serif;
}

.g-text {
    padding-left: 24px;
    color: rgba(0,0,0, 54%);
}

.menubar .navbar-nav .nav-item.active a,
.navbar .navbar-nav .nav-item.active a {
    font-weight: 600;
    color: #ffffff;
}

/********************************************************************/
/************************** HEADER SECTION **************************/
/********************************************************************/

#header {
    z-index: 99;
    display: flex;
    justify-content: space-between;
    background-color: #EF9643;
}

.logo {
    font-size: 1.8rem;
    font-weight: 600;
}

#header .menubar {
    display: flex;
    justify-content: flex-end;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

#home .tagline {
    letter-spacing: 2px;
    word-spacing: 10px;
    margin-left: 0!important;
    margin-bottom: 1rem;
    font-weight: 500;
}

nav {
    width: 100%;
    position: fixed;
    z-index: 99;
}

/* .auth-btns {
    display: flex;
    flex: none;
} */

/* Mobile Menu */
#menu-btn {
    display: none;
}
.btn-close-menu {
    color: #000000;
}
.btn-close-menu:hover {
    color: #000000;
}

#mobile-menu {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100vh;
    transition: .3s all ease-in-out;
}

#mobile-menu.navbar {
    display: inline;
}

.menubar {
    display: flex;
    justify-content: flex-end;
}

#menu .navbar-nav {
    flex-direction: row;
}

.menubar .navbar-nav .nav-item .nav-link {
    font-weight: 400;
    color: #000000;
}

.menubar .navbar-nav .nav-item .nav-link:hover {
    color: #C9184A;
}

#mobile-menu .navbar-nav .nav-item .nav-link {
    font-weight: 400;
    color: #000000;
}

#mobile-menu .navbar-nav .nav-item .nav-link:hover {
    color: #C9184A;
}

#mobile-menu {
    background-color: #EF9643;
    z-index: 9999;
}

.btn-login, .btn-register {
    color: #000000;
    border: 1px solid #000000;
}

.btn-login:hover, .btn-register:hover {
    color: #EF9643;
    background-color: #000000;
    color: #ffffff;
    border: 1px solid #000000;
}


/* section#home,
section#about,
section#process,
section#contact {
    height: 100vh;
} */

/* section#home > div,
section#about > div,
section#process > div,
section#contact > div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
} */

/* #home {
    background: center no-repeat url(../../images/plane-bg.jpg);
    background-size: contain;
} */

#home .left {
    position: relative;
    top: 50%;
    transform: translate(0,-50%);
}

#tracking-field {
    border: 0px solid #ffffff;
}

.btn-outline-track {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    color: #EF9643;
    background-color: #ffffff;
    padding: 0 30px;
    font-weight: 500;
    font-size: 1.2rem;
}

.btn-outline-track:hover {
    background-color: #EF9643;
    color: #ffffff;
}

.btn-get-quote {
    background-color: #EF9643;
    color: #ffffff;
    padding: 10px 30px;
    position: relative;
}

.btn-get-quote:hover,
.btn-contact:hover {
    color: #ffffff;
}

.btn-get-quote:after,
.btn-contact:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgba(255,255,255,0.4);
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}

.btn-get-quote:hover:after,
.btn-contact:hover:after {
    width: 120%;
    background-color: rgba(255,255,255,0);
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
}

#about .vector-part {
    margin-left: 4rem;
    margin-top: 4rem;
}

.heading {
    font-size: 3rem;
}

#about {
    background-color: #EF9643;
    color: #000000;
}

#about .btn-get-quote {
    background-color: #C9184A;
    color: #ffffff;
    padding: 10px 30px;
    position: relative;
}

#shipmentNotFound .not-found-text {
    align-self: center;
    color: #C9184A;
    font-weight: 600;
}

#about .text {
    text-align: justify;
    font-weight: 500;
}

#track {
    background-color: #EF9643;
}

#contact .btn-contact {
    background-color: #C9184A;
    color: #ffffff;
    padding: 10px 30px;
    position: relative;
}

.steps {
    font-size: 2.5rem;
    margin-right: 10px;
    color: #C9184A;
}

.steps::before {
    display: inline-block;
    content: "";
    border-top: .3rem solid #C9184A;
    width: 4rem;
    margin: 0 1rem;
    transform: translateY(-0.78rem);
}

.process-name {
    font-size: 1.4rem;
    font-weight: 600;
    color: #C9184A;
}

.tagline {
    margin-top: 12px;
    margin-left: 18%;
}

#process .card {
    border: 0;
    background-color: #EF9643;
    cursor: pointer;
}

#process .card p {
    /* color: #ffffff; */
    font-weight: 500;
}

footer {
    background-color: #ffffff;
    padding-top: 6rem;
}
/*
section#track {
    height: fit-content;
} */

footer .text,
footer .text i {
    font-weight: 600;
}

/* Follow US */

._12 {
    font-size: 1.2em;
}
._14 {
    font-size: 1.4em;
}
ul {
    padding:0;
    list-style: none;
}
.footer-social-icons {
    width: 350px;
    display:block;
    margin: 0 auto;
}
.social-icon {
    color: #fff;
}
ul.social-icons {
    margin-top: 10px;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
}
.social-icons a {
    color: #fff;
    text-decoration: none;
}
.fa-facebook {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-facebook:hover {
    background-color: #3d5b99;
}

.fa-instagram {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-instagram:hover {
    background-color: #8a3ab9;
}

.fa-twitter {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-twitter:hover {
    background-color: #00aced;
}

.fa-youtube {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-youtube:hover {
    background-color: #e64a41;
}
.fa-linkedin {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-linkedin:hover {
    background-color: #0073a4;
}

/* TRACKING PAGE */

.text-line {
    font-weight: 500;
}

.timeline .timeline-item {
    position: relative;
}

.timeline .timeline-item::before {
    background-color: #EF9643;
}

.timeline .timeline-item::before {
    content: "";
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 10px;
    top: 6px;
    z-index: 2;
}

.timeline .timeline-item::after {
    content: "";
    position: absolute;
    left: 15px;
    top: 0;
    width: 1px;
    background: #C9184A;
    bottom: 0;
    z-index: 1;
}

img.box-vector {
    width: 40%;
    margin-right: 50px;
}
