@media screen and (max-width: 500px) {
    html, body {
        overflow-x: hidden;
    }

    #home .row {
        flex-direction: column-reverse;
    }

    .menubar {
        display: inline-block;
        /* justify-content: flex-end; */
    }

    section#home > div,
    section#about > div,
    section#process > div,
    section#contact > div {
        top: 0;
        transform: translateY(0);
    }

    section#home,
    section#about,
    section#process,
    section#contact {
        height: fit-content!important;
    }

    #menu {
        display: none;
    }

    #menu-btn {
        display: inline;
    }

    .heading {
        font-size: 2rem;
    }

    .logoDiv {
        display: none;
    }

    #header {
        z-index: 99;
        display: flex;
        justify-content: space-between;
    }

    /* .vector-part {
        display: none;
    } */

    #about .vector-part {
        margin-top: 2rem;
        margin-left: 0;
    }

    #tracking-field {
        font-size: 1rem;
    }

    .btn-outline-track {
        font-size: 1rem;
    }

    .steps {
        font-size: 1.6rem;
        margin-right: 2%;
    }

    .steps::before {
        display: inline-block;
        content: "";
        border-top: 0.2rem solid #C9184A;
        width: 2rem;
        margin: 0 0.6rem 0 0;
        transform: translateY(-0.5rem);
    }

    .process-name {
        font-size: 1.2rem;
        font-weight: 600;
    }

    .tagline {
        margin: 5% 0 0 0;
    }

    #process .card {
        padding: 5%;
    }

    footer p {
        font-size: .8rem;
    }

    /* SHIPMENT NOT FOUND PAGE */

    img.box-vector {
        width: 100%;
    }

    #shipmentNotFound .not-found-text {
        font-size: 1.6rem;
    }

    /* TRACK SHIPMENT PAGE */

    #trackPage h1 {
        font-size: 1.6rem;
    }

    #trackPage h2 {
        font-size: 1.2rem;
    }
}

