#auth-login, #auth-register {
    overflow: hidden;
}

.divider {
    display: inline-block;
    border-bottom: gray 1px solid;
    width: 40%;
    margin: 1%;
}

.active, .active .fe {
    font-weight: 700;
}

#myTabContent {
    width: 100%;
}

.large {
    font-size: 17px;
}

/* Tracking History */
.timeline .timeline-item::before {
    top: 5px!important;
}

/* Validation Error Message */
p.error {
    width: 100%;
    margin: 0;
    font-size: 12px;
    color: #dc3545;
}

.toast {
    position: absolute;
    z-index: 999;
    right: 2%;
}

.toast-header {
    border: 0;
}

.toast.success {
    background-color: #d8f6ec;
    color: #1e6d53;
}

.toast-header.success {
    background-color: #d8f6ec;
}

.toast.danger {
    background-color: #f8d7da;
    color: #721c24;
}

.toast-header.danger {
    background-color: #f8d7da;
}

.select2.select2-container {
    width: auto!important;
}
